@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    font-family: 'Staatliches', sans-serif;
    background-color: rgb(0, 0, 95);
    color: white;
    font-size: 60px;
    
}

section {
    text-align: center;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    background-color: rgb(0, 0, 73);
    margin-top: 175px;
    box-shadow: 10px 20px 30px -10px black;
}

h1 {
    padding-top: 150px;
}

.difficulty-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: rgb(0, 0, 43);
    padding-top: 25px;
}

button {
    font-family: 'Staatliches', sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: 0.25s;
    background-color: rgb(141, 0, 28);
}

